.top-section {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    > div {
        display: flex;
        align-items: center;
        gap: 1rem;

        mat-card {
            --_size: 2.5rem;
        
            min-width: var(--_size);
            min-height: var(--_size);
        }

        span {
            font-size: 10px;
            font-weight: bold;
        }
    }
}

mat-divider {
    margin: 2rem 0;
}

.cards-container {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    mat-card {
        text-align: center;
        padding: 0.5rem 0;
        width: 5rem;
        flex-grow: 1;
    }
}