@use "@angular/material" as mat;
@use "./theme.scss" as theme;

@include mat.core();

$admin-theme: theme.$light-theme;

html {
  @include mat.all-component-themes($admin-theme);
  @include mat.color-variants-backwards-compatibility($admin-theme);
}

:root {
  $_success_error: mat.define-theme((
    color: (
      primary: mat.$green-palette,
      tertiary: mat.$red-palette,
    )
  ));

  --admin-success-color: #{mat.get-theme-color($_success_error, primary-container)};
  --admin-success-text-color: #{mat.get-theme-color($_success_error, on-primary-container)};

  --admin-error-color: #{mat.get-theme-color($_success_error, tertiary-container)};
  --admin-error-text-color: #{mat.get-theme-color($_success_error, on-tertiary-container)};

  --mat-dialog-with-actions-content-padding: 20px 24px 16px;

  --mat-toolbar-container-background-color: #{mat.get-theme-color($admin-theme, secondary-container)};
  --mat-toolbar-container-text-color: #{mat.get-theme-color($admin-theme, on-secondary-container)};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Kufi Arabic", "Helvetica Neue", sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

.primary {
  color: mat.get-theme-color($admin-theme, primary) !important;
}

.bg-primary-fixed-dim {
  background-color: mat.get-theme-color($admin-theme, primary-fixed-dim) !important;
  color: mat.get-theme-color($admin-theme, on-primary-fixed) !important;
}

.bg-tertiary-container {
  background-color: mat.get-theme-color($admin-theme, tertiary-container) !important;
  color: mat.get-theme-color($admin-theme, on-tertiary-container) !important;
}

.mdc-button__label {
  letter-spacing: normal;
}

.snackbar-success {
  --mdc-snackbar-container-color: var(--admin-success-color);
  --mdc-snackbar-supporting-text-color: var(--admin-success-text-color);
  --mat-snack-bar-button-color: var(--admin-success-text-color);
}

.snackbar-error {
  --mdc-snackbar-container-color: var(--admin-error-color);
  --mdc-snackbar-supporting-text-color: var(--admin-error-text-color);
  --mat-snack-bar-button-color: var(--admin-error-text-color);
}

router-outlet + * {
  flex-grow: 1;
}

.mat-drawer-inner-container {
  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--mat-sidenav-container-background-color);
  }

  &::-webkit-scrollbar-button {
    appearance: none;
    display: none;
    background-color: var(--mat-sidenav-container-background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
  }
}

.mat-mdc-select-panel {
  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--mat-menu-container-color);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-button {
    appearance: none;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

// fix the calendar height because we don't use Roboto font
.mat-datepicker-content .mat-calendar {
  height: 366px !important;
}
