
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-primary: mat.define-palette(mat.$teal-palette);
$admin-accent: mat.define-palette(mat.$orange-palette, 300, 100, 500);

// The warn palette is optional (defaults to red).
$admin-warn: mat.define-palette(mat.$red-palette);

// font family
$admin-typography-config: mat.define-typography-config(
  $font-family: 'Noto Kufi Arabic',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-theme: mat.define-light-theme((
  color: (
    primary: $admin-primary,
    accent: $admin-accent,
    warn: $admin-warn,
  ),
  typography: $admin-typography-config,
));

$admin-dark-theme: mat.define-dark-theme((
  color: (
    primary: $admin-primary,
    accent: $admin-accent,
    warn: $admin-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-theme);

.dark {
  @include mat.all-component-colors($admin-dark-theme);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Noto Kufi Arabic', "Helvetica Neue", sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

.primary {
  color: mat.get-color-from-palette($admin-primary);
}