<img class="logo" src="/assets/logo.svg" alt="logo">
<mat-nav-list>    
    @for (group of groupsService.groups; track group.name) {
        <span mat-subheader>{{ group.name }}</span>
        @for (item of group.items; track item.name) {
            <mat-list-item>
                <a matListItemTitle [routerLink]="item.link">{{ item.name }}</a>
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            </mat-list-item>
        }
        <mat-divider></mat-divider>
    }
</mat-nav-list>