.logo {
    width: 70px;
    margin-top: 1rem;
    margin-right: 1rem;
}

mat-divider {
    margin: 0.5rem 0;
}

[mat-subheader] {
    font-size: 12px;
    font-weight: 700;
}

mat-list-item a {
    font-size: 14px;
}

::ng-deep .dark .mat-drawer-backdrop.mat-drawer-shown {
    background-color: #000000aa;
}