::ng-deep .mat-drawer-inner-container {
    &::-webkit-scrollbar {
        appearance: none;
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--mat-sidenav-container-background-color);
    }

    &::-webkit-scrollbar-button {
        appearance: none;
        display: none;
        background-color: var(--mat-sidenav-container-background-color);
        
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(223, 223, 223);
        border-radius: 20px;
    }
}

.logo {
    width: 70px;
    margin-top: 1rem;
    margin-right: 1rem;
}

mat-divider {
    margin: 0.5rem 0;
}

.subheader {
    font-size: 12px;
    font-weight: 700;
}

mat-list-item a {
    font-size: 14px;
}