<img class="logo" src="/assets/logo.svg" alt="logo">
<mat-nav-list>
  @if (userDetails(); as details) {
    @for (group of groupsService.groups; track group.name) {
      @if (
        (group.superAdmin && details.is_superuser && details.is_staff) ||
        !group.superAdmin
      ) {
        <span class="subheader">{{ group.name }}</span>
        @for (item of group.items; track item.name) {
          @if (
            (item.superAdmin && details.is_superuser && details.is_staff) ||
            !item.superAdmin
          ) {
            <mat-list-item (click)="close()" [routerLink]="item.link" [routerLinkActive]="'mdc-list-item--activated'">
              <span matListItemTitle>{{ item.name }}</span>
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            </mat-list-item>
          }
        }
        <mat-divider />
      }
    }
  }
</mat-nav-list>
