<div class="bg-surface top-section">
    <div>
        <mat-card class="bg-primary-fixed-dim" />
        <span>يشير إلى التسميع الجديد.</span>
    </div>
    <div>
        <mat-card class="bg-tertiary-fixed" />
        <span>يشير إلى التسميع القديم.</span>
    </div>
    <div>
        <mat-card />
        <span>يشير إلى الصفحات أو السور التي لم تُسمع.</span>
    </div>
</div>
<mat-divider />
<div class="memo-container">
    @if (student(); as student) {
        @for (item of $any(student.q_memorizing); track item) {
            <mat-card
            [class.bg-primary-fixed-dim]="item === MemoItemType.NEW"
            [class.bg-tertiary-fixed]="item === MemoItemType.OLD"
            [class.flex-width]="$index >= 581"
            >
                {{ $index | memo }}
            </mat-card>
        }
    }
</div>