:host {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.top-section {
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

mat-accordion {
    margin-top: 2rem;
    display: block;

    @media (max-width: 600px) {
        & {
            margin: 0 -16px;
            margin-top: 2rem;
        }
    }
}

mat-expansion-panel {
    --mat-expansion-container-shape: 2rem;

    @media (max-width: 600px) {
        & {
            --mat-expansion-container-shape: 0;
        }
    }
}

mat-panel-title {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

mat-progress-spinner {
    margin: 0 auto;
}