form {
  max-width: 1000px;
  margin: 0 auto;

  > .fields-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
}
