<div class="title bg-surface-container-highest">
  سجل الحضور
</div>
<form [formGroup]="searchForm" (ngSubmit)="search()">
  <mat-form-field>
    <mat-label>اسم الطالب أو معرفه</mat-label>
    <input matInput [formControl]="searchForm.controls.studentName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>فترة تسجيل الحضور</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input [formControl]="searchForm.controls.startDate" matStartDate>
      <input [formControl]="searchForm.controls.endDate" matEndDate>
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker" />
    <mat-date-range-picker touchUi #picker />
  </mat-form-field>
  <mat-form-field>
    <mat-label>نوع الحضور</mat-label>
    <mat-select [formControl]="searchForm.controls.category">
      @for (category of categories(); track category.id) {
        <mat-option [value]="category.id">
          {{ category.name }}
        </mat-option>
      }
    </mat-select>
    @if (!!searchForm.controls.category.value) {
      <button (click)="searchForm.controls.category.setValue(undefined)" mat-icon-button matIconSuffix>
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>المسجد</mat-label>
    <mat-select [formControl]="searchForm.controls.masjed">
      @for (option of masjedOptions; track option) {
        <mat-option [value]="option">
          {{ option | masjed }}
        </mat-option>
      }
    </mat-select>
    @if (!!searchForm.controls.masjed.value) {
      <button (click)="searchForm.controls.masjed.setValue(undefined)" mat-icon-button matIconSuffix>
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <button mat-flat-button>
    بحث
    <mat-icon>search</mat-icon>
  </button>
</form>
<div class="cards-container">
  @for (message of messages(); track message.id) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          {{ message.student }}
        </mat-card-title>
        <mat-card-subtitle class="text-outline">
        <span dir="ltr">
          {{ message.registered_at | date: 'yyyy-MM-dd hh:mm a' }}
        </span>
        </mat-card-subtitle>
        <button (click)="delete(message.id)" class="error" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-chip>
          {{ categoriesMap()?.get(message.category) }}
        </mat-chip>
        <mat-chip>
          {{ message.masjed | masjed }}
        </mat-chip>
      </mat-card-content>
    </mat-card>
  } @empty {
    <p class="not-found">لا يوجد طلاب بهذه التفاصيل</p>
  }
</div>
@if (hasPrevious() || hasNext()) {
  <div class="pagination-buttons secondary">
    <button
      (click)="previousPage()"
      mat-flat-button
      [disabled]="!hasPrevious() || loading()">
      الصفحة السابقة
    </button>
    <button
      (click)="nextPage()"
      mat-flat-button
      [disabled]="!hasNext() || loading()">
      الصفحة التالية
    </button>
  </div>
}
