<div [formArrayName]="name()" class="test-container">
    @for (section of splittedControlsArray(); track section; let i = $index) {
        <div class="section-container">
            <mat-card class="section-card">
                الجزء {{ i + 1 }}
            </mat-card>
            @for (part of section; track part; let j = $index) {
                <div class="part-container">
                    <mat-card class="flex-card part-name-card">
                        الحزب {{ i * 2 + j + 1 }}
                    </mat-card>
                    <div class="self-parts-container">
                        @for (control of part; track control) {
                            <mat-card
                            matRipple
                            [matRippleDisabled]="!editMode()"
                            [class.bg-primary-fixed-dim]="control.value === MemoItemType.NEW"
                            [class.bg-tertiary-container]="control.value === MemoItemType.OLD"
                            [class.edit-mode]="editMode()"
                            (click)="changeValue(control)"
                            class="flex-card">
                                <input type="hidden" [formControl]="control">
                                الربع {{ $index + 1 }}
                            </mat-card>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
