<mat-card>
  <mat-card-content>
    <img class="logo" [src]="layout.isDarkMode() ? 'logo-dark.svg' : 'logo.svg'" alt="logo">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>اسم المستخدم</mat-label>
            <input matInput [formControl]="form.controls.username">
            <mat-error>
                هذا الحقل مطلوب
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>كلمة المرور</mat-label>
            <input matInput [formControl]="form.controls.password" type="password">
            <mat-error>
                هذا الحقل مطلوب
            </mat-error>
        </mat-form-field>
        <button [disabled]="loading()" mat-flat-button>
            تسجيل الدخول
        </button>
    </form>
  </mat-card-content>
</mat-card>
<a routerLink="/" matButton="tonal">
  العودة للصفحة الرئيسية
</a>
@if (loading()) {
  <div class="overlay">
    <mat-progress-spinner mode="indeterminate" />
  </div>
}
