.top-section {
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    > div {
        display: flex;
        align-items: center;
        gap: 1rem;

        mat-card {
            --_size: 2.5rem;
        
            min-width: var(--_size);
            min-height: var(--_size);
        }

        span {
            font-size: 10px;
            font-weight: bold;
        }
    }
}

mat-divider {
    margin: 2rem 0;
}

.test-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .section-card {
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    .part-card {
        text-align: center;
        flex-grow: 1;
        display: grid;
        place-items: center;
    }
    
    .part-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    
        mat-card {
            padding: 0.5rem 1rem;
        }
    }

    .part-row {
        display: flex;
        gap: 0.5rem;
        flex-grow: 1;
    }
    
    .parts-row {
        display: flex;
        gap: 0.5rem;
        flex-grow: 1;
        flex-wrap: wrap;

        mat-card {
            text-align: center;
            flex-grow: 1;
        }
    }
}

@media (max-width: 500px) {
    .test-container {
        grid-template-columns: 1fr;
    }
}