<mat-toolbar [class.mat-elevation-z2]="!loading()">
  @if (userDetails()) {
    <button class="menu-button" (click)="clickMenu.emit()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  }
  <a routerLink="/admin" class="toolbar-brand">
    {{ title() | translate }}
  </a>
  <div class="spacer"></div>
  @if (isSmall()) {
    <a mat-icon-button routerLink="/">
      <mat-icon>language</mat-icon>
    </a>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <a mat-button routerLink="/">
      العودة للموقع
    </a>
    <button mat-button (click)="logout()">
      {{ "logout" | translate }}
    </button>
  }
</mat-toolbar>
@if (loading()) {
  <mat-progress-bar mode="indeterminate" color="accent" />
}
