app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
  
::ng-deep router-outlet + * {
    flex-grow: 1;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}