<div class="mat-elevation-z8">
  <div class="top-section">
    <div class="search-and-filters">
      @if (config.searchField !== undefined) {
        <form [formGroup]="searchForm" (ngSubmit)="searchSubmit()">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>{{ config.searchField | translate }}</mat-label>
            <input type="text" matInput formControlName="searchValue" />
          </mat-form-field>
        </form>
      }
      <div class="buttons-container">
        <!-- TODO -->
        <!-- <button mat-flat-button color="primary">
          {{ 'actions' | translate }}
          <mat-icon>build</mat-icon>
        </button> -->
        @if (config.createUrl !== undefined) {
          <button mat-flat-button color="primary" [routerLink]="config.createUrl">
            {{ 'create' | translate }}
            <mat-icon>add</mat-icon>
          </button>
        }
        @if (isFileters()) {
          <button mat-flat-button color="accent" (click)="openFiltersDialog()">
            {{ 'filters' | translate }}
            <mat-icon>filter_alt</mat-icon>
          </button>
        }
      </div>
    </div>
    <div class="chips-container">
      @for (filter of activeFilters(); track filter.name) {
        <mat-chip-row
          (removed)="removeFilter($index)"
        >
          @if (filter.type !== 'date') {
            {{ filter.type | translate }}
          } {{ filter.name | translate }}:
          @if (filter.type === 'search') {
            {{ filter.value }}
          } @else if (filter.type === 'select') {
            {{ extraData[filter.name].map.get(helper.parseInt(filter.value)) }}
          } @else if (filter.type === 'select_null') {
            @if (filter.value === '-1') {
              {{ 'empty value' | translate }}
            } @else {
              {{ extraData[filter.name].map.get(helper.parseInt(filter.value)) }}
            }
          } @else if (filter.type === 'date') {
            <span dir="ltr">{{ filter.value.replaceAll('-', '/') }}</span>
          } @else if (filter.type === 'date_range') {
            <span dir="ltr">{{ filter.value.replace('=', ' → ').replaceAll('-', '/') }}</span>
          }
          <button matChipRemove>
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip-row>
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="responsive-container">
      <table mat-table matSort (matSortChange)="onSortChange()" [dataSource]="dataSource">
        @for (column of displayedColumns; track column) {
            @if (column === 'check') {
                <ng-container matColumnDef="check">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        ></mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(element) : null"
                        [checked]="selection.isSelected(element)"
                        ></mat-checkbox>
                    </td>
                </ng-container>
            } @else {
                <ng-container [matColumnDef]="column">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column | translate }}</th>
                  <td mat-cell *matCellDef="let element">
                    @if (column === 'id') {
                      <a class="primary" [routerLink]="config.getUrlFunc(element.id)">
                        {{ element[column] }}
                      </a>
                    } @else if (config.columns[column].display === 'boolean') {
                      @if (element[column]) {
                        <mat-icon color="primary">check_circle_outline</mat-icon>
                      } @else {
                        <mat-icon color="warn">not_interested</mat-icon>
                      }
                    } @else if (config.columns[column].display === 'relation') {
                      {{
                        extraData[column].map.get(element[column]) ?? '-'
                      }}
                    } @else if (config.columns[column].display === 'link') {
                        @if (element[column] === null || element[column] === undefined) {
                          -
                        } @else {
                          @if ($any(config.columns[column]).stringField !== undefined) {
                            <a class="primary" [routerLink]="$any(config.columns[column]).getUrlFunc(element[column])">
                              {{
                                element[$any(config.columns[column]).stringField]
                              }}
                            </a>
                          } @else {
                            <a class="primary" [routerLink]="$any(config.columns[column]).getUrlFunc(element[column])">
                              {{
                                extraData[column].map.get(element[column])
                              }}
                            </a>
                          }
                        }
                    } @else if ($any(config.columns[column]).dateFormat !== undefined) {
                      {{ date.format(element[column], $any(config.columns[column]).dateFormat) }}
                    } @else {
                      {{
                        element[column] ?? '-'
                      }}
                    }
                  </td>
                </ng-container>
            }
        }
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
  <div class="bottom-row">
    @if (totalCount !== 0) {
      <span class="total-count">{{ 'Total count' | translate }}: {{ totalCount }}</span>
    }
    <mat-paginator 
      [class.hidden]="!config.hasPagination" 
      (page)="onPageChange()" 
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
  <div [class.hidden]="config.hasPagination" class="extra-space"></div>
</div>
