.mat-elevation-z8 {
    --border-radius: 20px;

    border-radius: var(--border-radius);
    background-color: var(--mat-table-background-color);

    .top-section {
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;

        .search-and-filters {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-wrap: wrap;

            .buttons-container {
                display: flex;
                gap: 1rem;
            }
        }

        .chips-container {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }

    .responsive-container {
        max-height: 380px;
        max-width: calc(100vw - 32px);
        width: 100%;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            appearance: none;
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--mat-table-background-color);
        }
    
        &::-webkit-scrollbar-button {
            appearance: none;
            display: none;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgb(223, 223, 223);
            border-radius: 20px;
        }

        &::-webkit-scrollbar-corner {
            display: none;
        }

        a {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }
    }

    .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .total-count {
            padding-right: 1.5rem;
        }

        mat-paginator {
            border-radius: 0px 0px var(--border-radius) var(--border-radius);
        }
    }


    .extra-space {
        height: 1rem;
    }
}
