@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --md-ref-typeface-brand: 'Noto Kufi Arabic';
    --md-ref-typeface-plain: 'Noto Kufi Arabic';

    --md-filled-button-label-text-line-height: 1.5rem;

    --md-sys-color-primary: rgb(0 91 82);
    --md-sys-color-surface-tint: rgb(0 106 96);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(0 131 119);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(131 85 0);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 190 98);
    --md-sys-color-on-secondary-container: rgb(80 50 0);
    --md-sys-color-tertiary: rgb(92 66 138);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(130 103 177);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(245 250 248);
    --md-sys-color-on-background: rgb(23 29 27);
    --md-sys-color-surface: rgb(245 250 248);
    --md-sys-color-on-surface: rgb(23 29 27);
    --md-sys-color-surface-variant: rgb(216 229 226);
    --md-sys-color-on-surface-variant: rgb(61 73 71);
    --md-sys-color-outline: rgb(109 122 119);
    --md-sys-color-outline-variant: rgb(188 201 198);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(44 50 48);
    --md-sys-color-inverse-on-surface: rgb(237 242 239);
    --md-sys-color-inverse-primary: rgb(104 217 201);
    --md-sys-color-primary-fixed: rgb(134 246 229);
    --md-sys-color-on-primary-fixed: rgb(0 32 28);
    --md-sys-color-primary-fixed-dim: rgb(104 217 201);
    --md-sys-color-on-primary-fixed-variant: rgb(0 80 72);
    --md-sys-color-secondary-fixed: rgb(255 221 180);
    --md-sys-color-on-secondary-fixed: rgb(41 24 0);
    --md-sys-color-secondary-fixed-dim: rgb(255 185 84);
    --md-sys-color-on-secondary-fixed-variant: rgb(99 63 0);
    --md-sys-color-tertiary-fixed: rgb(236 220 255);
    --md-sys-color-on-tertiary-fixed: rgb(38 5 82);
    --md-sys-color-tertiary-fixed-dim: rgb(213 187 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 56 128);
    --md-sys-color-surface-dim: rgb(214 219 217);
    --md-sys-color-surface-bright: rgb(245 250 248);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(240 245 242);
    --md-sys-color-surface-container: rgb(234 239 237);
    --md-sys-color-surface-container-high: rgb(228 233 231);
    --md-sys-color-surface-container-highest: rgb(222 228 225);

    --app-overlay-color: #0000003c;
}

.dark {
    --md-sys-color-primary: rgb(104 217 201);
    --md-sys-color-surface-tint: rgb(104 217 201);
    --md-sys-color-on-primary: rgb(0 55 49);
    --md-sys-color-primary-container: rgb(0 131 119);
    --md-sys-color-on-primary-container: rgb(255 255 255);
    --md-sys-color-secondary: rgb(255 227 194);
    --md-sys-color-on-secondary: rgb(69 43 0);
    --md-sys-color-secondary-container: rgb(246 176 71);
    --md-sys-color-on-secondary-container: rgb(68 42 0);
    --md-sys-color-tertiary: rgb(213 187 255);
    --md-sys-color-on-tertiary: rgb(60 32 103);
    --md-sys-color-tertiary-container: rgb(130 103 177);
    --md-sys-color-on-tertiary-container: rgb(255 255 255);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(15 20 19);
    --md-sys-color-on-background: rgb(222 228 225);
    --md-sys-color-surface: rgb(15 20 19);
    --md-sys-color-on-surface: rgb(222 228 225);
    --md-sys-color-surface-variant: rgb(61 73 71);
    --md-sys-color-on-surface-variant: rgb(188 201 198);
    --md-sys-color-outline: rgb(134 147 144);
    --md-sys-color-outline-variant: rgb(61 73 71);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(222 228 225);
    --md-sys-color-inverse-on-surface: rgb(44 50 48);
    --md-sys-color-inverse-primary: rgb(0 106 96);
    --md-sys-color-primary-fixed: rgb(134 246 229);
    --md-sys-color-on-primary-fixed: rgb(0 32 28);
    --md-sys-color-primary-fixed-dim: rgb(104 217 201);
    --md-sys-color-on-primary-fixed-variant: rgb(0 80 72);
    --md-sys-color-secondary-fixed: rgb(255 221 180);
    --md-sys-color-on-secondary-fixed: rgb(41 24 0);
    --md-sys-color-secondary-fixed-dim: rgb(255 185 84);
    --md-sys-color-on-secondary-fixed-variant: rgb(99 63 0);
    --md-sys-color-tertiary-fixed: rgb(236 220 255);
    --md-sys-color-on-tertiary-fixed: rgb(38 5 82);
    --md-sys-color-tertiary-fixed-dim: rgb(213 187 255);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 56 128);
    --md-sys-color-surface-dim: rgb(15 20 19);
    --md-sys-color-surface-bright: rgb(53 58 57);
    --md-sys-color-surface-container-lowest: rgb(10 15 14);
    --md-sys-color-surface-container-low: rgb(23 29 27);
    --md-sys-color-surface-container: rgb(27 33 31);
    --md-sys-color-surface-container-high: rgb(37 43 42);
    --md-sys-color-surface-container-highest: rgb(48 54 53);
}

body {
    font-family: var(--md-ref-typeface-brand), sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}
