@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

@include mat.core();

$client-typography: (
  plain-family: "Noto Kufi Arabic",
  brand-family: "Noto Kufi Arabic",
  bold-weight: "Noto Kufi Arabic",
  medium-weight: "Noto Kufi Arabic",
  regular-weight: "Noto Kufi Arabic",
);

$client-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-cyan-palette,
      tertiary: matx.$m3-orange-palette,
    ),
    typography: $client-typography,
  )
);

$client-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-cyan-palette,
      tertiary: matx.$m3-orange-palette,
    ),
    typography: $client-typography,
  )
);

html {
  @include mat.all-component-themes($client-theme);
}

.bg-surface {
  background-color: mat.get-theme-color($client-theme, surface-container) !important;
}

.bg-primary {
  background-color: mat.get-theme-color($client-theme, primary) !important;
}

.bg-tertiary {
  background-color: mat.get-theme-color($client-theme, tertiary) !important;
}

.text-primary {
  color: mat.get-theme-color($client-theme, primary) !important;
}

.text-tertiary {
  color: mat.get-theme-color($client-theme, tertiary) !important;
}

.text-on-primary {
  color: mat.get-theme-color($client-theme, on-primary) !important;
}

.text-on-tertiary {
  color: mat.get-theme-color($client-theme, on-tertiary) !important;
}

.tertiary {
  @include mat.button-color($client-theme, $color-variant: tertiary)
}

.dark {
  color-scheme: dark;
  
  @include mat.all-component-colors($client-dark-theme);

  --mat-sidenav-scrim-color: #000000aa;

  --client-success-color: #66bb6a;
  --client-error-color: #f44336;

  --client-success-text-color: #000000de;
  --client-error-text-color: #fff;

  .bg-surface {
    background-color: mat.get-theme-color($client-dark-theme, surface-container) !important;
  }

  .bg-primary {
    background-color: mat.get-theme-color($client-dark-theme, primary) !important;
  }
  
  .bg-tertiary {
    background-color: mat.get-theme-color($client-dark-theme, tertiary) !important;
  }

  .text-primary {
    color: mat.get-theme-color($client-dark-theme, primary) !important;
  }

  .text-tertiary {
    color: mat.get-theme-color($client-dark-theme, tertiary) !important;
  }

  .text-on-primary {
    color: mat.get-theme-color($client-dark-theme, on-primary) !important;
  }
  
  .text-on-tertiary {
    color: mat.get-theme-color($client-dark-theme, on-tertiary) !important;
  }

  .tertiary {
    @include mat.button-color($client-dark-theme, $color-variant: tertiary)
  }
}

:root {
  --client-success-color: #2e7d32;
  --client-error-color: #d32f2f;

  --client-success-text-color: #fff;
  --client-error-text-color: #fff;
}

.mat-expansion-panel-body {
  padding: unset !important;
  padding-bottom: 1.5rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: normal;
}

body {
  font-family: "Noto Kufi Arabic", "Helvetica Neue", sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

// .primary {
//   color: mat.get-color-from-palette($client-primary) !important;
// }

// .bg-primary {
//   background-color: mat.get-color-from-palette($client-primary) !important;
//   color: white !important;
// }

// .accent {
//   color: mat.get-color-from-palette($client-accent) !important;
// }

// .bg-accent {
//   background-color: mat.get-color-from-palette($client-accent) !important;
//   color: black !important;
// }

.snackbar-success {
  --mdc-snackbar-container-color: var(--client-success-color);
  --mdc-snackbar-supporting-text-color: var(--client-success-text-color);
  --mat-snack-bar-button-color: var(--client-success-text-color);
}

.snackbar-error {
  --mdc-snackbar-container-color: var(--client-error-color);
  --mdc-snackbar-supporting-text-color: var(--client-error-text-color);
  --mat-snack-bar-button-color: var(--client-error-text-color);
}

router-outlet + * {
  flex-grow: 1;
}

.mat-drawer-inner-container {
  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--mat-sidenav-container-background-color);
  }

  &::-webkit-scrollbar-button {
    appearance: none;
    display: none;
    background-color: var(--mat-sidenav-container-background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
  }
}

.mat-mdc-select-panel {
  &::-webkit-scrollbar {
    appearance: none;
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--mat-menu-container-color);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-button {
    appearance: none;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

.font-bold {
  font-weight: bold;
}