:host {
  --mat-toolbar-height: 5rem;
}

main {
  position: relative;
  padding: 2rem 1rem 4rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--mat-toolbar-height);
}

footer {
  height: var(--mat-toolbar-height);
  border-top: 1px solid;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.875rem;
  padding: 0 0.5rem;
}

mat-sidenav {
  padding: 0 1rem;
  width: 280px;

  .top-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    overflow: hidden;
  }

  mat-expansion-panel {
    box-shadow: none;

    mat-expansion-panel-header {
      padding: 0 1rem;
      border-radius: 9999px;
    }
  }

  mat-panel-title {
    display: flex;
    justify-content: start;
    gap: 2rem;
    font-size: 0.875rem;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  mat-toolbar {
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: var(--mat-toolbar-height);
    z-index: 10;

    img {
      cursor: pointer;
    }
  }

  mat-progress-bar {
    position: fixed;
    top: var(--mat-toolbar-height);
    z-index: 10;
  }
}

.menu-button {
  margin-left: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.logo {
  width: 3.125rem;
}

mat-list-item,
[mat-list-item] {
  margin: 0.5rem 0;

  a, span {
    font-size: 0.875rem;
  }
}

[mat-icon-button] {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 1.75rem;
  }
}

.user {
  margin: 0 1rem;
  font-size: 1rem;
}
