:host {
    --mat-toolbar-height: 5rem;
}

main {
    position: relative;
    padding: 2rem 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--mat-toolbar-height);
    margin-bottom: var(--mat-toolbar-height);
}

mat-sidenav {
    padding: 0 1rem;
    position: fixed;
    width: 280px;

    .top-section {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.35rem;
        overflow: hidden;
    }

  mat-expansion-panel {
    box-shadow: none;

    mat-expansion-panel-header {
      padding: 0 1rem;
      border-radius: 9999px;
    }
  }

  mat-panel-title {
    display: flex;
    justify-content: start;
    gap: 1rem;
  }
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    mat-toolbar {
        position: fixed;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: var(--mat-toolbar-height);
        z-index: 10;
    }

    mat-progress-bar {
        position: fixed;
        top: var(--mat-toolbar-height);
        z-index: 10;
    }
}

.menu-button {
    margin-left: 0.5rem;
}

.spacer {
    flex-grow: 1;
}

ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo {
    width: 3.125rem;
}

mat-list-item {
    margin: 0.5rem 0;
    a, span {
        font-size: 0.875rem;
    }
}
[mat-icon-button] {
    transform: scale(1.3);
}

.user {
    margin: 0 1rem;
    font-size: 1rem;
}
