:host {
    --mat-toolbar-height: 80px;
}

main {
    position: relative;
    padding: 2rem 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--mat-toolbar-height);
    margin-bottom: var(--mat-toolbar-height);
}

mat-sidenav {
    padding: 0 1rem;
    position: fixed;

    .top-section {
        display: flex;
        justify-content: space-between;
        padding: 1rem 6px;
        overflow: hidden;
    }
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    mat-toolbar {
        position: fixed;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: var(--mat-toolbar-height);
        z-index: 10;
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    }

    mat-progress-bar {
        position: fixed;
        top: var(--mat-toolbar-height);
        z-index: 10;
    }
}

.menu-button {
    margin-left: 0.5rem;
}

.spacer {
    flex-grow: 1;
}

ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo {
    width: 50px;
}

mat-list-item {
    margin: 0.5rem 0;
    a {
        font-size: 14px;
    }
}
[mat-icon-button] {
    transform: scale(1.3);
}
