<mat-toolbar [class.mat-elevation-z2]="!loading()">
  <button class="menu-button" (click)="clickMenu.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="isAuth() ? '/' : null" class="toolbar-brand">
    {{ title() | translate }}
  </a>
  <div class="spacer"></div>
  @if (isAuth()) {
    @if (isSmall()) {
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <button mat-button (click)="logout()">
        {{ "logout" | translate }}
      </button>
    }
  }
</mat-toolbar>
@if (loading()) {
  <mat-progress-bar mode="indeterminate" color="accent" />
}
