<mat-toolbar color="primary" class="mat-elevation-z3">
  <a [routerLink]="isAuth() ? '/' : null" class="toolbar-brand">
    {{ title() | translate }}
  </a>
  <div class="spacer"></div>
  <ul>
    @if (isAuth()) {
        @if (isSmall()) {
            <li>
              <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
              </button>
            </li>
        } @else {
            <li>
              <button mat-button (click)="logout()">
                {{ "logout" | translate }}
              </button>
            </li>
        }
    }
    <li>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{
          theme.isDarkMode() ? "wb_sunny" : "nights_stay"
        }}</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>
