@switch (type()) {
    @case (1) {
        <div class="card-container">
            @for (item of content(); track item) {
                <mat-card class="bg-primary">
                    {{ memorize.transform(item) }}
                </mat-card>
            }
        </div>
    }
    @case (2) {
        <div class="card-container">
            @for (item of content(); track item) {
                <mat-card class="bg-primary">
                    {{ test.transform(item) }}
                </mat-card>
            }
        </div>
    }
    @case (3) {
        
    }
    @case (4) {

    }
    @case (5) {
        -
    }
    @default {
        Unhandled Type
    }
}