:host {
  max-width: 31rem;
  margin: 0 auto 2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 31rem;
  margin: 0 auto 2rem;

  .title {
    text-align: center;
    border-radius: 999px;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto 2rem;
  }
}

.cards-container {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;

  mat-card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .empty-card {
    text-align: center;
    font-weight: 500;

    mat-card-content {
      justify-content: center;
    }
  }
}

mat-chip-set {
  margin-bottom: 1rem;
}

mat-divider {
  margin-bottom: 2rem;
}

.points-form {
  mat-radio-group > :first-child {
    margin-left: 1rem;
  }

  gap: 1rem;
}
