mat-card {
  overflow: hidden;
}

.card-image-container {
  position: relative;
  cursor: pointer;

  .image-opacity {
    background-color: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  [mat-card-image] {
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &:hover .image-opacity {
    opacity: 0.3;
    transition: opacity 300ms;
  }
}
