<mat-card>
  <app-student-search
    [(selectedStudents)]="selectedStudents"
  ></app-student-search>
  <div class="chips-container">
      @for (student of selectedStudents(); track student.id) {
        <mat-chip-row (removed)="removeStudent(student)">
            {{ student.id }} - {{ student.name }}
            <button matChipRemove>
                <mat-icon>close</mat-icon>
            </button>
        </mat-chip-row>    
      }
  </div>
  <mat-radio-group (change)="radioChange($event)">
    <mat-radio-button checked value="quran">بالقرآن</mat-radio-button>
    <mat-radio-button value="non-quran">بغير القرآن</mat-radio-button>
  </mat-radio-group>
  @if (mode() === 'quran') {
    <form [formGroup]="quranForm">
        <mat-form-field>
            <mat-label>الأجزاء</mat-label>
            <input matInput [formControl]="quranForm.controls.value" />
            <mat-hint>
                يجب أن تكون الأجزاء متتالية مفصولة بمسافات
            </mat-hint>
            <mat-error>
                هذا النمط غير صحيح
            </mat-error>
        </mat-form-field>
        <button color="primary" mat-flat-button>
            إضافة
        </button>
    </form>

  } @else {
    <form [formGroup]="nonQuranForm" (ngSubmit)="submitNoQ()">
        <mat-form-field>
            <mat-label>الاختبار</mat-label>
            <mat-select [formControl]="nonQuranForm.controls.value">
                @for (test of awqafNoQTests(); track test.id) {
                    <mat-option [value]="test.id">
                        {{ test.name }}
                    </mat-option>
                }
            </mat-select>
            <mat-error>
                {{ 'this field is required' | translate }}
            </mat-error>
        </mat-form-field>
        <button color="primary" mat-flat-button>
            إضافة
        </button>
    </form>
  }
</mat-card>
