<div [formArrayName]="name()" class="quran-elite-test-container">
    @for (control of array().controls; track $index) {
        <mat-card
        matRipple
        [matRippleDisabled]="!editMode()"
        [class.bg-primary-fixed-dim]="control.value === MemoItemType.NEW"
        [class.bg-tertiary-container]="control.value === MemoItemType.OLD"
        [class.edit-mode]="editMode()"
        (click)="changeValue(control)"
        class="flex-card">
            <input type="hidden" [formControl]="control">
            {{ transform($index) }}
        </mat-card>
    }
</div>
