mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

mat-card {
  padding: 1rem;
}

form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  mat-form-field {
    max-width: 400px;
  }

  button:not([matChipRemove]) {
    width: fit-content;
    margin-top: 1rem;
  }
}

.mat-elevation-z2 {
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    background: var(--mat-table-background-color);

    .responsive-container {
      overflow: hidden;
      padding-bottom: 2rem;

      max-height: 380px;
      max-width: calc(100vw - 32px);
      width: 100%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        appearance: none;
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--mat-table-background-color);
      }

      &::-webkit-scrollbar-button {
        appearance: none;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(223, 223, 223);
        border-radius: 20px;
      }

      &::-webkit-scrollbar-corner {
        display: none;
      }
    }

    .no-data-row {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;

      div {
        margin: 1rem 0;
      }
    }
}

.btns-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;

  *:not(span) {
    flex-grow: 1;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    background-color: var(--mat-table-row-item-outline-color);
    width: fit-content;
    overflow: hidden;
    border-radius: 8px;

    li {
      display: flex;
      gap: 0.1rem;
      text-align: center;

      .label {
        width: 180px;
        white-space: nowrap;
        padding: 0.25rem;
        background-color: var(--mat-table-background-color);
      }

      .value {
        font-weight: 500;
        width: 100%;
        padding: 0.25rem;
        background-color: var(--mat-table-background-color);
      }
    }
  }
}

mat-divider {
  margin: 2rem 0;
}
