<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>{{ "new password" | translate }}</mat-label>
    <input
      matInput
      type="password"
      [formControl]="this.form.controls.new_password"
      required
    />
    <mat-error>{{ "this field is required" | translate }}</mat-error>
  </mat-form-field>
  <div class="button-row">
    <button mat-flat-button color="primary">
      {{ "update" | translate }}
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</form>
