<form #form="ngForm" (ngSubmit)="submit(form)">
    <mat-form-field appearance="outline">
        <mat-label>{{ 'new password' | translate }}</mat-label>
        <input matInput type="password" name="new_password" [(ngModel)]="new_password" required />
        <mat-error>{{ 'this field is required' | translate }}</mat-error>
    </mat-form-field>
    <div class="button-row">
        <button mat-flat-button color="primary">
            {{ 'update' | translate }}
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</form>
