mat-card {
    height: 100%;
}

mat-card-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    gap: 0.5rem;
}

mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
}

mat-divider {
    margin: 6px 0;
}

ul {
    padding-right: 1.4rem;
    list-style: disc;
}

li a {
    font-size: 14px;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}