form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto 4rem;
  width: 100%;
  max-width: 400px;

  mat-form-field {
    width: 100%;
  }
}
