mat-card {
    padding: 1rem;
    box-shadow: none;
    border: 1px solid;
}

.not-found {
    text-align: center;
}

button {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 1rem;
}

span {
    margin-right: auto;
    font-size: 12px;
}