<div class="memo-container">
    @for (item of content(); track $index) {
        @if (581 <= $index && $index <= 617) {
            <mat-card
            matRipple
            [matRippleDisabled]="!editMode()"
            [class.bg-primary]="item === MemoItemType.NEW"
            [class.bg-accent]="item === MemoItemType.OLD"
            [class.edit-mode]="editMode()"
            class="flex-card">
                {{ transform($index) }}
            </mat-card>
        } @else {
            <mat-card
            matRipple
            [matRippleDisabled]="!editMode()"
            [class.bg-primary]="item === MemoItemType.NEW"
            [class.bg-accent]="item === MemoItemType.OLD"
            [class.edit-mode]="editMode()">
            {{ transform($index) }}
            </mat-card>
        }
    }
</div>
