@if (student(); as student) {
    <div class="top-section bg-surface">
        <h3>الطالب: {{ student.name }}</h3>
        <h4 class="text-secondary">المعرف: {{ student.id }}</h4>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>account_box</mat-icon>
                    المعلومات الشخصية للطالب
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-info />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>calendar_month</mat-icon>
                    آخر نشاطات الطالب
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-activities />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>contact_page</mat-icon>
                    تسميعات الطالب
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-memo />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>event_available</mat-icon>
                    سبر الطالب في المسجد
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-test />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>mosque</mat-icon>
                    سبر الطالب في الأوقاف
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-awqaf-test />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>star</mat-icon>
                    سبر الطالب النوعي
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-elite-test />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>checklist</mat-icon>
                    متفرقات
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-general />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>edit_note</mat-icon>
                    ملاحظات الطالب
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-student-notes />
        </mat-expansion-panel>
    </mat-accordion>
} @else {
    <mat-progress-spinner mode="indeterminate" />
}
