:host {
    max-width: 1200px;
    margin: 0 auto;
}

.top-section {
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

mat-accordion {
    margin-top: 2rem;
    display: block;
}

mat-expansion-panel {
    --mat-expansion-container-shape: 2rem;
}

mat-panel-title {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

mat-progress-spinner {
    margin: 0 auto;
}